body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.box {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}