body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    width: 500px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
}

.row {
    display: flex;
    width: 960px;
    flex-grow: 1;
}

.box {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    border: 1px black solid;
    flex-grow: 1;
}